<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @meeting.username %>
</p>

<p>
  <strong>User email:</strong>
  <%= @meeting.user_email %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting.meeting_id %>
</p>

<p>
  <strong>Meeting password:</strong>
  <%= @meeting.meeting_password %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
